$cat-color: #f1c40f;

.css-loader {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  position: relative;

  .cat {
    background: $cat-color;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 15px 25px 5px 5px;

    .cat-head {
      animation: bobble-head 2s infinite;
      position: absolute;
      width: 50px;
      height: 50px;
      background: darken($cat-color, 2%);
      top: -30px;
      left: -5px;
      border-radius: 10px 15px 15px 20px;

      &:before,
      &:after {
        position: absolute;
        width: 10px;
        height: 10px;
        display: block;
        content: " ";
        border-style: solid;
        border-width: 2px 2px 0 0;
        border-radius: 50%;
        border-color: lighten($cat-color, 25%);
        transform: rotate(-45deg);
      }

      &:before {
        left: 10px;
        top: 10px;
      }

      &:after {
        right: 10px;
        top: 10px;
      }

      .cat-ears {
        position: absolute;
        width: 100%;

        &:before,
        &:after {
          position: absolute;
          content: " ";
          width: 6px;
          height: 6px;
          border-style: solid;
          border-width: 2px 2px 0 0;
          border-color: darken($cat-color, 2%);
          transform: rotate(-45deg);
        }
        &:before {
          left: 10px;
          top: -3px;
        }
        &:after {
          right: 15px;
          top: -3px;
        }
      }
    }
    .cat-feet {
      position: absolute;
      width: 100%;
      bottom: 0;
      &:before,
      &:after {
        position: absolute;
        content: " ";
        width: 10px;
        height: 10px;
        background: $cat-color;
        border-radius: 50%;
      }
      &:before {
        left: 10px;
        top: -6px;
      }
      &:after {
        right: 15px;
        top: -6px;
      }
    }
  }
}

@keyframes bobble-head {
  0% {
    transform: rotate(-30deg);
    top: -35px;
  }
  15% {
    top: -30px;
  }
  30% {
    transform: rotate(30deg);
    top: -35px;
  }
  70% {
    top: -30px;
  }
  100% {
    transform: rotate(-30deg);
    top: -35px;
  }
}