<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div class="page">
    <div class="page-main-bg container">
        {{ content }}

        <div class="row">
            <div class="col-xs-12">
                <hr>
                <p class="text-xs-right">
                    connect
                    <a href="{{ site.github_url }}">
                        <i class="fa fa-github"></i>
                        on gitbub
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
